#dept-view{
	width: 60%;
}

h2{
	margin-left: 25%;
}

input{
	margin-left: 30%;
}

#alert,#alert-alt{
	margin-left: 30%;
}

#add,#alt,#cancela{
	display: inline-block;
	margin-left: 1%;
	background-color: #313131;
	color: white;
	border-radius: 50%;
	padding: 10px;
	padding-right: 12px;
}

#add:hover,#alt:hover{
	background-color: #2980b9;
	cursor: pointer;
}

#cancela:hover{
	background-color: #e74c3c;
	cursor: pointer;
}

#table{
	width: 70%;
	margin-left: 30%;
}

i{
	padding-left: 20%;
	cursor: pointer;
}

i:hover{
	color: #2980b9;
}

.glyphicon-plus:hover,.alt-ico:hover{
	color: white;
}

#elefante{
	float: right;
	position: fixed;
	bottom: 0;
	right: 0;
}