#logo{
	background-color: #2980b9;
	color: #bdc3c7;
	text-align: right;
	padding-top: 50px;
	padding-bottom: 10px;
	font-size: 2.5em;
}

#logo-first-part{
	font-weight: bold;
}

#logo-second-part{
	padding-right: 20%;
}

#logo-nav{
	cursor: pointer;
}

#menu{
	background-color: #bdc3c7;
}

#menu ul{
	list-style-type: none;
	padding-left: 10%;
}

#menu li{
	display: inline-block;
	padding: 10px;
	padding-left: 3%;
	padding-right: 3%;
	font-weight: bold;
	color: #2c3e50;
}

#menu li:hover{
	cursor: pointer;
	background-color: #ecf0f1;
}

#elefante{
	margin-top: 10%;
	margin-left: 40%;
}